/*
 * AWS Batch configuration
 *
 * Prerequisites:
 *   1. An AWS Batch compute environment and job queue.
 *   2. An S3 bucket for work directory and I/O.
 *   3. Nextflow IAM permissions (s3:GetObject, s3:PutObject,
 *      batch:SubmitJob, batch:DescribeJobs, etc.)
 *
 * Set AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY in the environment,
 * or use an IAM instance profile / ECS task role.
 *
 * Override key params on the command line:
 *   nextflow run main.nf -profile aws \
 *       --aws_batch_queue my-batch-queue \
 *       --aws_region us-east-1 \
 *       -work-dir s3://my-bucket/nextflow-work
 */

params.aws_region       = 'us-east-1'
params.aws_batch_queue  = ''    // REQUIRED: your AWS Batch job queue name

if (!params.aws_batch_queue) {
    log.error "ERROR: --aws_batch_queue is required when using the 'aws' profile."
    System.exit(1)
}

aws {
    region = params.aws_region
    batch {
        cliPath    = '/usr/bin/aws'
        maxTransferAttempts = 3
    }
}

process {
    executor  = 'awsbatch'
    queue     = params.aws_batch_queue

    withName: GENERATE_VIS_REPORT {
        cpus   = 4
        memory = '32 GB'
        time   = '8 h'
    }
}

// Disable local execution of Nextflow tasks
executor {
    name      = 'awsbatch'
    awscli    = '/usr/bin/aws'
}
