/*
 * IBM LSF HPC configuration
 */

params.lsf_queue      = 'normal'
params.lsf_queue_size = 50

process {
    executor  = 'lsf'
    queue     = params.lsf_queue
    queueSize = params.lsf_queue_size

    withName: GENERATE_VIS_REPORT {
        cpus   = 4
        memory = '32 GB'
        time   = '8 h'
        clusterOptions = "-R 'span[hosts=1]'"
    }
}
