/*
 * PBS / Torque HPC configuration
 *
 * Adjust queue name and clusterOptions to match your cluster setup.
 */

params.pbs_queue      = 'default'
params.pbs_queue_size = 50

process {
    executor  = 'pbs'
    queue     = params.pbs_queue
    queueSize = params.pbs_queue_size

    withName: GENERATE_VIS_REPORT {
        cpus   = 4
        memory = '32 GB'
        time   = '8 h'

        clusterOptions = "-l nodes=1:ppn=${task.cpus}"
    }
}
